In [1]:
#Determination
import pandas as pd

In [2]:
#read
schools_og_df = pd.read_csv('Starter_Code/PyCitySchools/Resources/schools_complete.csv')
students_og_df = pd.read_csv('Starter_Code/PyCitySchools/Resources/students_complete.csv')

In [3]:
#merge/join two data sets
school_data_complete = pd.merge(students_og_df,schools_og_df, how = 'left', on = ['school_name','school_name'])
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

District Summary

In [4]:
#total of unique schools
school_count=len(school_data_complete['school_name'].unique())
school_count

15

In [5]:
#total number students
student_count = len (school_data_complete['student_name'])
student_count

39170

In [23]:
#Total Budget
school_by_schoolname= school_data_complete.groupby('school_name')
each_school_budget = school_by_schoolname['budget'].mean()
total_budget = each_school_budget.sum()
total_budget

24649428.0

In [25]:
#The average (mean) math score
school_data_complete['math_score'].mean()

78.98537145774827

In [ ]:
# Calculate the average (mean) reading score