In [1]:
#Determination
import pandas as pd

In [2]:
#read
schools_og_df = pd.read_csv('Starter_Code/PyCitySchools/Resources/schools_complete.csv')
students_og_df = pd.read_csv('Starter_Code/PyCitySchools/Resources/students_complete.csv')

In [5]:
#merge/join two data sets
school_data_complete = pd.merge(students_og_df,schools_og_df, how = 'left', on = ['school_name','school_name'])
#school_data_complete

# District Summary

In [6]:
#total of unique schools
school_count=len(school_data_complete['school_name'].unique())
#school_count

In [7]:
#total number students
student_count = len (school_data_complete['student_name'])
#student_count

In [8]:
#Total Budget
school_by_schoolname= school_data_complete.groupby('school_name')
each_school_budget = school_by_schoolname['budget'].mean()
total_budget = each_school_budget.sum()
#total_budget

In [9]:
#The average (mean) math score
average_math_score = school_data_complete['math_score'].mean()
#average_math_score

In [10]:
#The average (mean) reading score
average_reading_score = school_data_complete['reading_score'].mean()
#average_reading_score

In [11]:
#The percentage of students who passed math (math scores greather than or equal to 70
passing_math_count = school_data_complete[(school_data_complete['math_score'] >= 70)].count()['student_name']
passing_math_percentage = passing_math_count / float(student_count) * 100
#passing_math_percentage

In [12]:
#The percentage of students who passed reading 
passing_reading_count = school_data_complete[(school_data_complete['reading_score'] >= 70)].count()['student_name']
passing_reading_percentage = passing_reading_count / student_count * 100
#passing_reading_percentage

In [13]:
#the percentage of students that passed math and reading
passing_math_reading_count =school_data_complete[(school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  student_count * 100
#overall_passing_rate

In [14]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = {'Total Number of Unique Schools': school_count,\
                    'Total Students': student_count,\
                    'Total Budget': total_budget,\
                    'Average Math Score': average_math_score,\
                    'Average Reading Score': average_reading_score,\
                    '% Pass Math' : passing_math_percentage,\
                    '% Pass Reading': passing_reading_percentage,\
                    '% Pass Both Math and Reading':overall_passing_rate}

district_summary_df = pd.DataFrame(district_summary,index=[0])

# Formatting
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary_df

,Total Number of Unique Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Pass Math,% Pass Reading,% Pass Both Math and Reading
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

# School Summary

In [18]:
#Schools
school_count= len(school_data_complete['school_name'].unique())
school_count

15

In [47]:
# Use the code provided to select all of the school types
school_types = schools_og_df.set_index(['school_name'])['type']
school_types.head()

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Name: type, dtype: object

In [34]:
#Total student count per school
stu_per_school_counts = school_data_complete['school_name'].value_counts()
stu_per_school_counts

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [32]:
# Calculate the total school budget and per capita spending per school
school_by_schoolname= school_data_complete.groupby('school_name')
per_school_budget = school_by_schoolname['budget'].mean()
per_school_budget

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [35]:
per_school_capita = per_school_budget / stu_per_school_counts
per_school_capita

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [36]:
# Calculate the average test scores per school
per_school_math = school_by_schoolname ['math_score'].mean()
per_school_math

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [37]:
per_school_reading = school_by_schoolname ['reading_score'].mean()
per_school_reading

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [38]:
# Calculate the number of students per school with math scores of 70 or higher
students_passing_math = school_data_complete[(school_data_complete['math_score'] >= 70)]
school_students_passing_math = students_passing_math.groupby('school_name').math_score.size()
school_students_passing_math
school_passing_math_percentage = school_students_passing_math / per_school_counts * 100
school_passing_math_percentage

Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [42]:
# Calculate the number of students per school with reading scores of 70 or higher
students_passing_reading = school_data_complete[(school_data_complete['reading_score'] >= 70)]
school_students_passing_reading = students_passing_reading.groupby('school_name').reading_score.size()
school_students_passing_reading
school_passing_reading_percentage = school_students_passing_reading / stu_per_school_counts * 100
school_passing_reading_percentage

Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [41]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[(school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()
school_students_passing_math_and_reading
school_passing_math_and_reading_percentage = school_students_passing_math_and_reading / stu_per_school_counts * 100
school_passing_math_and_reading_percentage

Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [43]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_students_passing_math / per_school_counts * 100
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100

In [49]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary_df = pd.DataFrame({\
                    'School Type':school_types,\
                    'Total Students': stu_per_school_counts,\
                    'Total School Budget': per_school_budget,\
                    'Per Student Budget': per_school_capita,\
                    'Average Math Score' : per_school_math,\
                    'Average Reading Score': per_school_reading,\
                    '% Pass Math':school_passing_math_percentage,\
                    '% Pass Reading':school_passing_reading_percentage,\
                    '% Pass Both':school_passing_math_and_reading_percentage})

# Formatting
per_school_summary_df['Total School Budget'] = per_school_summary_df['Total School Budget'].map('${:,.2f}'.format)
per_school_summary_df['Per Student Budget'] = per_school_summary_df['Per Student Budget'].map('${:,.2f}'.format)

# Display the DataFrame
per_school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Pass Math,% Pass Reading,% Pass Both
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333

# Highest-Performing Schools (by % Overall Passing)

In [ ]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = per_school_summary_df.iloc[]
top_schools.head(5)

# Bottom Performing Schools (By % Overall Passing)

# Math Scores by Grade

# Reading Score by Grade

# Scores by School Spending

# Scores by School Size

# Scores by School Type